<h3 style="font-size:40px; margin: 50px 50px 50px 0"><strong>Preguntas</strong></h3>

<% @questions.each do |question|%>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr style="color: #0056b2;" />

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <%if question.votes %>
      <h3><%= question.votes.count %></h3>
    <% else %>
      <h3 style="line-height:6px"><%= question.votes.count %></h3>
    <% end %>
    <p>Votos</p>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <h3><%= question.answers.count %></h3>
    <p>Respuestas</p>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h3 style="font-size:18px; line-height:1px color:orange"><%= link_to question_path(question.id)do %>
        <%=question.title%></h3>
      <%end%>
    <%owner = User.find_by(id: question.user_id)%>
    <div class="panel-body" style="font-size:12px; line-height:1px">creado por <%= owner.email %> el día <%=question.created_at%></div>
  </div>
</div>

<% end %>

<%if current_user %>
  <a href="/questions/new" class="btn btn-lg btn-success fixed-bottom" style="position: absolute; bottom: 0; right:0; margin: 10px;">Has una pregunta!</a>
<% end %>
