<h1>Pregunta</h1>
<div class="panel panel-default">
<div class="panel-heading">
<h3><%= @question.title%> </h3>
<div class="panel-body">
<p><%= @question.description%> </p>
<% @question.comments.each do |comment|%>
	<div><%=comment.description%></div>
<%end%>
<%=form_for [@question, @question.comments.new] do |f| %>
	<%= f.text_area :description%>
	<%= f.submit %>
<%end%>
</div>

<% @question.answers.each do |answer|%>
<div><%=answer.description%></div>
<% answer.comments.each do |comment|%>
	<div><%=comment.description%></div>
<%end%>
	<%=form_for [answer, answer.comments.new] do |f| %>
	<%= f.text_area :description%>
	<%= f.submit %>
	<%end%>
<%end%>


<%=form_for [@question, @question.answers.new] do |f| %>
<%= f.text_area :description%>
<%= f.submit %>
<%end%>
